In [2]:
import pandas as pd
import pymongo
from bson import ObjectId
from random import randint
import certifi

In [3]:
ca = certifi.where()
ca

'c:\\Python312\\Lib\\site-packages\\certifi\\cacert.pem'

In [4]:
client = pymongo.MongoClient("mongodb+srv://ecommerce123:ecommerce123@cluster1.irxxnwz.mongodb.net/", tlsCAFile=ca, tls=True, tlsAllowInvalidCertificates=True)
client

MongoClient(host=['ac-l9hswlx-shard-00-01.irxxnwz.mongodb.net:27017', 'ac-l9hswlx-shard-00-02.irxxnwz.mongodb.net:27017', 'ac-l9hswlx-shard-00-00.irxxnwz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-6dny5r-shard-0', tls=True, tlscafile='c:\\Python312\\Lib\\site-packages\\certifi\\cacert.pem', tlsallowinvalidcertificates=True, tlsdisableocspendpointcheck=True)

In [5]:
shop_db = client.shop
shop_db

Database(MongoClient(host=['ac-l9hswlx-shard-00-01.irxxnwz.mongodb.net:27017', 'ac-l9hswlx-shard-00-02.irxxnwz.mongodb.net:27017', 'ac-l9hswlx-shard-00-00.irxxnwz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-6dny5r-shard-0', tls=True, tlscafile='c:\\Python312\\Lib\\site-packages\\certifi\\cacert.pem', tlsallowinvalidcertificates=True, tlsdisableocspendpointcheck=True), 'shop')

In [6]:
book_df = pd.read_csv('book_data.csv')
book_df

,BookID,Title,Author,5 stars,4 stars,3 stars,2 stars,1 star,Number of reviewers,Pages,Book format,Language,GenreLink,Series,PublishYear,isbn,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,5,Harry Potter and the Prisoner of Azkaban,"J.K. Rowling, Mary GrandPré",2028235,706012,215277,29265,14292,58998,435,Mass Market Paperback,English,2402163,Harry Potter,1999,043965548X,Scholastic Paperbacks,http://images.amazon.com/images/P/043965548X.0...,http://images.amazon.com/images/P/043965548X.0...,http://images.amazon.com/images/P/043965548X.0...
1,2,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré",1685420,668805,232468,41915,16344,45160,870,Paperback,English,2809203,Harry Potter,2003,0439358078,Scholastic Paperbacks,http://images.amazon.com/images/P/0439358078.0...,http://images.amazon.com/images/P/0439358078.0...,http://images.amazon.com/images/P/0439358078.0...
2,13,The Ultimate Hitchhiker's Guide to the Galaxy,Douglas Adams,168732,81509,32463,8707,4384,5443,815,Paperback,English,135328,The Hitchhiker's Guide to the Galaxy,1996,0345453743,Del Rey,http://images.amazon.com/images/P/0345453743.0...,http://images.amazon.com/images/P/0345453743.0...,http://images.amazon.com/images/P/0345453743.0...
3,4,Harry Potter and the Chamber of Secrets,J.K. Rowling,1714974,791685,317647,55360,15765,56282,352,Hardcover,English,6231171,Harry Potter,1998,0439554896,Arthur A. Levine Books,http://images.amazon.com/images/P/0439554896.0...,http://images.amazon.com/images/P/0439554896.0...,http://images.amazon.com/images/P/0439554896.0...
4,18,The Ultimate Hitchhiker's Guide,Douglas Adams,168734,81511,32464,8707,4384,5443,815,Hardcover,English,135328,The Hitchhiker's Guide to the Galaxy,1996,0517149257,Random House Value Publishing,http://images.amazon.com/images/P/0517149257.0...,http://images.amazon.com/images/P/0517149257.0...,http://images.amazon.com/images/P/0517149257.0...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3415,45536,On the Road,"Jack Kerouac, Ann Charters",94779,113234,91865,41893,19215,15513,307,Paperback,English,1701188,Duluoz Legend,1955,0142437255,Penguin Books,http://images.amazon.com/images/P/0142437255.0...,http://images.amazon.com/images/P/0142437255.0...,http://images.amazon.com/images/P/0142437255.0...
3416,45557,Co. Aytch: A Confederate Memoir of the Civil War,Sam R. Watkins,1576,1131,611,154,60,198,240,Paperback,English,44763,NaN,1882,0684833247,Touchstone,http://images.amazon.com/images/P/0684833247.0...,http://images.amazon.com/images/P/0684833247.0...,http://images.amazon.com/images/P/0684833247.0...
3417,45592,La tía Julia y el escribidor,Mario Vargas Llosa,4922,6873,3859,831,193,1075,566,Paperback,Spanish,17171130,NaN,1977,8466302298,Suma de Letras,http://images.amazon.com/images/P/8466302298.0...,http://images.amazon.com/images/P/8466302298.0...,http://images.amazon.com/images/P/8466302298.0...
3418,45633,You Bright and Risen Angels,William T. Vollmann,371,331,155,47,17,86,635,Paperback,English,2310146,NaN,1987,0140110879,Penguin Books,http://images.amazon.com/images/P/0140110879.0...,http://images.amazon.com/images/P/0140110879.0...,http://images.amazon.com/images/P/0140110879.0...
3419,45634,The Ice-Shirt,William T. Vollmann,309,408,210,45,14,124,415,Paperback,English,905344,Seven Dreams,1990,0140131965,Penguin Books,http://images.amazon.com/images/P/0140131965.0...,http://images.amazon.com/images/P/0140131965.0...,http://images.amazon.com/images/P/0140131965.0...

In [7]:
rate_df = pd.read_csv('rating_data.csv')
rate_df

       User-ID  bookId  Book-Rating
0       276747    6259            4
1       276798   45449            3
2       276808   12570            5
3       276822   24073            3
4       276872   19580            4
...        ...     ...          ...
53940   276688   13075            4
53941   276688   31366            4
53942   276688   31373            3
53943   276688   18728            5
53944   276704   42143            1

[53945 rows x 3 columns]

In [8]:
genre_df = pd.read_csv('fillnan_genres.csv')
genre_df

       bookId         Genre  NumberOfPeople
0           2         other               0
1           4         other               0
2           5         other               0
3          13         other               0
4          18       fiction            2736
...       ...           ...             ...
30407   45634    literature              20
30408   45634        nature               2
30409   45634   non-fiction               2
30410   45634         other            3018
30411   45634  contemporary               4

[30412 rows x 3 columns]

In [9]:
id_df = pd.read_csv('id_data.csv')
id_df

      bookId                     objId
0          5  66671db4172bd52e6820aae9
1          2  66671db4172bd52e6820aaea
2         13  66671db4172bd52e6820aaeb
3          4  66671db4172bd52e6820aaec
4         18  66671db4172bd52e6820aaed
...      ...                       ...
3415   45536  66671db4172bd52e6820b840
3416   45557  66671db4172bd52e6820b841
3417   45592  66671db4172bd52e6820b842
3418   45633  66671db4172bd52e6820b843
3419   45634  66671db4172bd52e6820b844

[3420 rows x 2 columns]

In [10]:
book_dicts = book_df.to_dict('records')
book_dicts[0]

{'BookID': 5,
 'Title': 'Harry Potter and the Prisoner of Azkaban',
 'Author': 'J.K. Rowling, Mary GrandPré',
 '5 stars': 2028235,
 '4 stars': 706012,
 '3 stars': 215277,
 '2 stars': 29265,
 '1 star': 14292,
 'Number of reviewers': 58998,
 'Pages': 435,
 'Book format': 'Mass Market Paperback',
 'Language': 'English',
 'GenreLink': 2402163,
 'Series': 'Harry Potter',
 'PublishYear': 1999,
 'isbn': '043965548X',
 'Publisher': 'Scholastic Paperbacks',
 'Image-URL-S': 'http://images.amazon.com/images/P/043965548X.01.THUMBZZZ.jpg',
 'Image-URL-M': 'http://images.amazon.com/images/P/043965548X.01.MZZZZZZZ.jpg',
 'Image-URL-L': 'http://images.amazon.com/images/P/043965548X.01.LZZZZZZZ.jpg'}

In [10]:
id_dict = {k: v for k, v in id_df.values.tolist()}
len(id_dict)

3420

In [11]:
book_data = []

for book in book_dicts:
    book_id = book['BookID']
    book_series = None
    series = book['Series']
    
    if isinstance(series, str) and series != '':
        book_series = series
    
    book_rec = {
        'title': book['Title'],
        'authors': book['Author'].split(', '),
        'series': book_series,
        'genre': genre_df[genre_df['bookId'] == book_id].Genre.tolist()
    }
    
    if isinstance(series, str) and series != '':
        book_rec['series'] = series
    book_data.append(book_rec)
    
len(book_data)

3420

In [21]:
book_res = shop_db.books.insert_many(book_data)
res_id = book_res.inserted_ids
len(res_id)

3420

In [12]:
copy_data = []

for book in book_dicts:
    copy_rec = {
        'ISBN': book['isbn'],
        'bookId': ObjectId(id_dict[book['BookID']]),
        'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt',
        'pages': book['Pages'],
        'format': book['Book format'],
        'language': book['Language'],
        'publishYear': book['PublishYear'],
        'publisher': book['Publisher'],
        'imgURL': book['Image-URL-L'],
        'inStock': randint(0,50),
        'price': randint(5,80) * 10000,
        'sold': int((book['5 stars'] + book['4 stars'] + book['3 stars']) ** 0.5),
        'onHold': randint(0,30),
    }
    copy_data.append(copy_rec)
    
len(copy_data)

3420

In [13]:
copy_data[10]

{'ISBN': '0380727501',
 'bookId': ObjectId('66671db4172bd52e6820aaf3'),
 'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt',
 'pages': 324,
 'format': 'Paperback',
 'language': 'English',
 'publishYear': 1995,
 'publisher': 'Perennial',
 'imgURL': 'http://images.amazon.com/images/P/0380727501.01.LZZZZZZZ.jpg',
 'inStock': 16,
 'price': 80000,
 'sold': 302,
 'onHold': 25}

In [14]:
copy_res = shop_db.copies.insert_many(copy_data)
len(copy_res.inserted_ids)

3420

In [15]:
rating_data = []

for book in book_dicts:
    rating_rec = {
        'bookId': ObjectId(id_dict[book['BookID']]),
        'stars5': book['5 stars'],
        'stars4': book['4 stars'],
        'stars3': book['3 stars'],
        'stars2': book['2 stars'],
        'stars1': book['1 star'],
        'reviews': book['Number of reviewers']
    }
    rating_data.append(rating_rec)
    
len(rating_data)

3420

In [16]:
rating_res = shop_db.bookratings.insert_many(rating_data)
len(rating_res.inserted_ids)

3420